.add_btn{
  text-align: right;
}
.container{
  overflow: auto;
}

.left_view h3{
  font-size: 10;
}
.left_view span{
  font-size: 22px;
}
.left_view p{
  font-weight: 400;
  font-size: 15px;
}
.left_view>p> span{
  font-weight: 400;
}
.right_view p{
  font-weight: 600; 
}
.right_view>p>span{
  font-weight: 400;
}